content_service/mock/*.db
content_service/main
content_service/data
content_service/deploy/*.tgz
content_service/deploy/content_service_deploy/bin/*
content_service/server/*.db
content_service/logics/*.db
content_service/runtime/config.json
content_service/init_test_db/ad_test_db.db

predictor_platform/frontend/node_modules
predictor_platform/frontend/dist
predictor_platform/frontend/tests
predictor_platform/frontend/public
predictor_platform/frontend/package-lock.json
predictor_platform/build
predictor_platform/main
predictor_platform/deploy/build
predictor_platform/deploy/*.tgz
predictor_platform/server/frontend
predictor_platform/tools/bin/*
predictor_platform/tools/dao/*.db
predictor_platform/server/build
predictor_platform/server/server/logics/*.db
predictor_platform/server/server/dao/*.db
predictor_platform/server/server/service/*.db
predictor_platform/server/runtime/config.json
predictor_platform/server/main
predictor_platform/server/init_test_db/ad_test_db.db
